<!DOCTYPE html>
<html ng-app="SWD">
<head>
	<title>ServiceWhale Demo</title>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" media="all" href="/css/style.css" />
	<!-- inject:js -->
	<!-- endinject -->
</head>
<body ng-controller="RootCtrl as root">
	<div class="container">
		<ul class="navbar navbar-default top15 bottom15">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" ng-click="menuCollapsed = !menuCollapsed">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<div class="collapse navbar-collapse" collapse="!menuCollapsed">
					<div ng-if="currentUser.id">
						<p class="navbar-text" ng-bind="currentUser.email"></p>
						<ul class="nav navbar-nav">
							<li role="presentation">
								<a ng-click="root.logout()">Logout</a>
							</li>
						</ul>
					</div>
					<ul class="nav navbar-nav" ng-if="!currentUser.id">
						<li role="presentation" ui-sref-active="active" ui-sref="signup">
							<a>Sign up</a>
						</li>
						<li role="presentation" ui-sref-active="active" ui-sref="login">
							<a>Log in</a>
						</li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li ng-if="currentUser.cart.length" role="presentation" class="pull-right" ng-click="root.showCart()">
							<a>
								<span ng-bind="'Cart: ' + currentUser.cart.length"></span>
								<ng-pluralize count="currentUser.cart.length" when="{
									'0': 'item',
									'one': 'items',
									'other': 'items'
								}"></ng-pluralize>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</ul>
		<ui-view></ui-view>
	</div>
	<div class="b-alerts" ng-cloak>
		<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="removeAlert(alert.id)">{{alert.message}}</alert>
	</div>
</body>
</html>
