<div class="row top60">
	<div class="col-xs-3"></div>
	<div class="col-xs-6">
		<form name="login.form" class="form-horizontal" ng-submit="login.submit()" novalidate>
			<div class="form-group" ng-class="{'has-error': login.form.$submitted && login.form.email.$invalid }">
				<label for="email" class="col-sm-3 control-label">Email</label>
				<div class="col-sm-9">
					<input type="email" class="form-control" id="email" name="email" placeholder="Email"
						ng-model="login.data.email"
						required
						popover="{{login.form.email.$invalid ? login.form.email.$error.required ? 'Enter your email' : 'Email is invalid' : ''}}"
						popover-placement="right"
						popover-trigger="mouseenter"
						popover-append-to-body="true">
				</div>
			</div>
			<div class="form-group" ng-class="{'has-error': login.form.$submitted && login.form.password.$invalid }">
				<label for="password" class="col-sm-3 control-label">Password</label>
				<div class="col-sm-9">
					<input type="password" class="form-control" id="password" name="password" placeholder="Password"
						ng-model="login.data.password"
						required
						popover="{{login.form.password.$invalid && login.form.password.$error.required ? 'Enter password' : ''}}"
						popover-placement="right"
						popover-trigger="mouseenter"
						popover-append-to-body="true">
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-3 col-sm-9">
					<button type="submit" class="btn btn-default">Log in</button>
				</div>
			</div>
		</form>
	</div>
	<div class="col-xs-3"></div>
</div>
