<div class="row top60">
	<div class="col-xs-3"></div>
	<div class="col-xs-6">
		<form name="signUp.form" class="form-horizontal" ng-submit="signUp.submit()" novalidate>
			<div class="form-group" ng-class="{'has-error': signUp.form.$submitted && signUp.form.email.$invalid }">
				<label for="email" class="col-sm-3 control-label">Email</label>
				<div class="col-sm-9">
					<input type="email" class="form-control" id="email" name="email" placeholder="Email"
						ng-model="signUp.data.email"
						required
						popover="{{signUp.form.email.$invalid ? signUp.form.email.$error.required ? 'Enter your email' : 'Email is invalid' : ''}}"
						popover-placement="right"
						popover-trigger="mouseenter"
						popover-append-to-body="true">
				</div>
			</div>
			<div class="form-group" ng-class="{'has-error': signUp.form.$submitted && signUp.form.password.$invalid }">
				<label for="password" class="col-sm-3 control-label">Password</label>
				<div class="col-sm-9">
					<input type="password" class="form-control" id="password" name="password" placeholder="Password"
						ng-model="signUp.data.password"
						required
						popover="{{signUp.form.password.$invalid && signUp.form.password.$error.required ? 'Enter password' : ''}}"
						popover-placement="right"
						popover-trigger="mouseenter"
						popover-append-to-body="true">
				</div>
			</div>
			<div class="form-group" ng-class="{'has-error': signUp.form.$submitted && signUp.form.passwordConfirm.$invalid }">
				<label for="password" class="col-sm-3 control-label">Password confirm</label>
				<div class="col-sm-9">
					<input type="password" class="form-control" id="passwordConfirm" name="passwordConfirm" placeholder="Password confirm"
						ng-model="signUp.data.passwordConfirm"
						required
						ng-equals="signUp.data.password"
						popover="{{signUp.form.passwordConfirm.$invalid ? (signUp.form.passwordConfirm.$error.required ? 'Enter password confirm' : 'Passwords do not match') : ''}}"
						popover-placement="right"
						popover-trigger="mouseenter"
						popover-append-to-body="true">
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-3 col-sm-9">
					<button type="submit" class="btn btn-default">Sign up</button>
				</div>
			</div>
		</form>
	</div>
	<div class="col-xs-3"></div>
</div>
