* {
	outline: none!important;
}

a {
	cursor: pointer;
}

ul {
	padding: 0;
}

.top5 { margin-top:5px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top30 { margin-top:30px; }
.top45 { margin-top:45px; }
.top60 { margin-top:60px; }

.right5 { margin-right:5px; }
.right10 { margin-right:10px; }
.right15 { margin-right:15px; }
.right30 { margin-right:30px; }
.right45 { margin-right:45px; }
.right60 { margin-right:60px; }

.bottom5 { margin-bottom:5px; }
.bottom10 { margin-bottom:10px; }
.bottom15 { margin-bottom:15px; }
.bottom30 { margin-bottom:30px; }
.bottom45 { margin-bottom:45px; }
.bottom60 { margin-bottom:60px; }

.left5 { margin-left:5px; }
.left10 { margin-left:10px; }
.left15 { margin-left:15px; }
.left30 { margin-left:30px; }
.left45 { margin-left:45px; }
.left60 { margin-left:60px; }
