.b-rating {
	position: absolute;
	width: 80px;
	height: 14px;
	white-space: nowrap;
	font-size: 14px;
	line-height: 14px;
}

.b-rating-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	white-space: nowrap;
	overflow: hidden;

	.glyphicon {
		display: inline-block;
		width: 16px;
		text-align: center;
	}
}

.b-rating-container--bg {
	.glyphicon {
		color: #ccc;
	}
}

.b-rating-container--value {
	.glyphicon {
		color: orange;
	}
}
