<form class="form-horizontal">
	<div class="form-group">
		<label class="col-sm-2 control-label" for="dateFrom">From</label>
		<div class="col-sm-3">
			<p class="input-group">
				<input type="text" class="form-control" id="dateFrom"
					datepicker-popup="MM/dd/yyyy"
					ng-model="search.filters.dateFrom"
					max-date="search.filters.dateTo"
					is-open="dateFromOpened"
					ng-focus="dateFromOpened = true;" />
				<span class="input-group-btn">
					<button type="button" class="btn btn-default" ng-click="$event.stopPropagation(); dateFromOpened = true;"><i class="glyphicon glyphicon-calendar"></i></button>
				</span>
			</p>
		</div>
		<label class="col-sm-1 control-label" for="dateTo">To</label>
		<div class="col-sm-3">
			<p class="input-group">
				<input type="text" class="form-control" id="dateTo"
					datepicker-popup="MM/dd/yyyy"
					ng-model="search.filters.dateTo"
					min-date="search.filters.dateFrom"
					is-open="dateToOpened"
					ng-focus="dateToOpened = true;" />
				<span class="input-group-btn">
					<button type="button" class="btn btn-default" ng-click="$event.stopPropagation(); dateToOpened = true;"><i class="glyphicon glyphicon-calendar"></i></button>
				</span>
			</p>
		</div>
		<div class="checkbox col-sm-3">
			<label>
				<input type="checkbox" ng-model="search.filters.inStockOnly"> In stock only
			</label>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label" for="priceFrom">Price from</label>
		<div class="col-sm-3">
			<input type="text" class="form-control" id="priceFrom" ng-model="search.filters.priceFrom">
		</div>
		<label class="col-sm-1 control-label" for="priceTo">to</label>
		<div class="col-sm-3">
			<input type="text" class="form-control" id="priceTo" ng-model="search.filters.priceTo">
		</div>
		<label class="col-sm-1 control-label" for="color">Color</label>
		<div class="col-sm-2">
			<select class="form-control" ng-model="search.filters.color" id="color">
				<option value=""></option>
				<option value="red">Red</option>
				<option value="white">White</option>
				<option value="black">Black</option>
				<option value="blue">Blue</option>
				<option value="yellow">Yellow</option>
				<option value="green">Green</option>
			</select>
		</div>
	</div>
</form>
<div class="top30">
	<swd:item ng-repeat="item in search.data" item="item"></swd:item>
	<div ng-if="search.data.length === 0" class="text-center top60">
		No items found
	</div>
</div>
