<div class="modal-header">
	<h3 class="modal-title">Cart</h3>
</div>
<div class="modal-body">
	<swd:item ng-repeat="item in cart.items" item="item"></swd:item>
	<div ng-if="cart.items.length === 0" class="text-center top30 bottom30">
		Cart is empty
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-default" ng-click="cart.close()">Close</button>
</div>
