<div class="panel panel-default top15">
	<div class="panel-body">
		<div class="media">
			<div class="media-left">
				<img width="250" class="media-object img-thumbnail" ng-src="{{item.data.image}}" alt="{{item.data.name}}">
			</div>
			<div class="media-body">
				<div class="row top15 left15">
					<div class="col-md-4">
						<h4 class="media-heading">{{item.data.name}}</h4>
					</div>
					<div class="col-md-4 text-center">
						<h5>{{item.data.date | date: 'MM/dd/yyyy'}}</h5>
					</div>
					<div class="col-md-4">
						<h3 class="pull-right">${{item.data.price}}</h3>
					</div>
				</div>
				<div class="row top30 left15">
					<div class="col-md-4">
						<h5>{{item.data.color}}</h5>
					</div>
					<div class="col-md-4 text-center">
						<h5>{{item.data.inStock ? 'In stock' : 'Out of stock'}}</h5>
					</div>
					<div class="col-md-4">
						<button ng-if="!$root.currentUser.cart || $root.currentUser.cart.indexOf(item.data.id) === -1" class="btn btn-default pull-right" ng-click="item.addToCart(item.data.id)">Order</button>
						<button ng-if="$root.currentUser.cart && $root.currentUser.cart.indexOf(item.data.id) !== -1" class="btn btn-default pull-right" ng-click="item.removeFromCart(item.data.id)">Remove</button>
					</div>
				</div>
				<div class="row top30 left15">
					<div class="col-md-12">
						<swd:rating value="item.data.rating"></swd:rating>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
