<div class="b-rating">
	<div class="b-rating-container b-rating-container--bg">
		<i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i>
	</div>
	<div class="b-rating-container b-rating-container--value" ng-style="{ 'width': value * 100 / 5 + '%' }">
		<i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i><i class="glyphicon glyphicon-star"></i>
	</div>
</div>
